{% extends "layouts/map-layout.html" %}
{% from 'partials/macros.html' import google_map with context %}
{% from 'partials/macros.html' import link with context %}

{% block map %}
    {{ google_map(width=600, height=228, area=geofence.polyline, markers=[device.last_pos]) }}
{% endblock %}

{% block body_title %}
    {{ device.name }}
    {% block body_replace %}{% endblock %}
    {{ geofence.name }}
{% endblock %}

{% block body_content %}
    El dispositivo
    {{ link(endpoint='/device/'+device.id, caption=device.name) }}
    {% block description_replace %}{% endblock %}
    {{ link(endpoint='/geofence/'+geofence.id, caption=geofence.name) }}
{% endblock %}
