{% extends "layout.html" %}

{% block body %}
<tr>
    <td>
        <img width="600" height="228" style="background: #EAEAEA; display: block;" src="{{ static_map_url }}" />
    </td>
</tr>
<tr>
    <td class="container-padding content" align="left" style="color: #707c8d;padding: 40px 24px;background-color:#ffffff">
        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550">
            {{ device.name }}
            entró a
            {{ geofence.name }}
        </div>

        <p>
            El dispositivo
            <a href="{{ device.href }}">{{ device.name }}</a>
            acaba de entrar a la geocerca
            <a href="{{ geofence.href }}">{{ geofence.name }}</a>.
        </p>
    </td>
</tr>
{% endblock %}
