{% extends "layouts/map-layout.html" %}
{% from 'partials/macros.html' import google_map with context %}
{% from 'partials/macros.html' import link with context %}

{% block map %}
    {{ google_map(width=600, height=228, markers=[position]) }}
{% endblock %}

{% block body_title %}
    {{ device.name }} se detuvo por {{ stop_time//60000 }} minutos
{% endblock %}

{% block body_content %}
    El dispositivo
    {{ link(endpoint='/device/'+device.id, caption=device.name) }}
    se detuvo por {{ stop_time//60000 }} minutos comenzando el {{ arrived|datetimeformat }} en el viaje
    {{ link(endpoint='/trip/'+str(trip.id), caption=trip.origin+'->'+trip.destination) }}
{% endblock %}
